body {
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 60px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

a {
  display: block;
  margin: 10px auto;
  padding: 12px;
  text-decoration: none;
  background: black;
  color: white;
  border-radius: 5px;
  width: 80%;
}

a:hover {
  opacity: 0.85;
}

.social-btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 14px;
  margin: 10px 0;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
}

.social-btn:hover {
  opacity: 0.85;
  transform: translateY(-2px);
}

